{% extends "base.html" %}
{% block title %}
    Home
{% endblock title %}
{% block content %}
    <ul>
        <li>
            <a href={% url "bwHome" %}>Bandwidth</a>
            <p>You can download files using below format in your downloader tool</p>
            http://&lt;thisSiteIp&gt;/bw/&lt;fileName&gt;
        </li>
        <br>
        <br>
        <li>
            <a href={% url "cpuHome" %}>CPU</a>
            <p>You can download run factorial process with below format in your tool</p>
            http://&lt;thisSiteIp&gt;/cpu/&lt;factorialNumber&gt;
        </li>
        <br>
        <br>
        <li>
            <a href={% url "ramHome" %}>RAM</a>
            <p>You can fill the memory 100MB every X seconds using below url</p>
            http://&lt;thisSiteIp&gt;/ram/&lt;X&gt;
        </li>
    </ul>
{% endblock content %}
